header{
    border-bottom: 3px solid var(--main-accent);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    height: 3em;
}
img{
    max-width: 2em;
    margin: 0 0.5em;
}
#logo{
    display: flex;
    align-items: center;
    font-weight: 600;
}
#logoText{
    margin-right: 0.5em;
}
a{
    color:black;
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    height: 3em;
}
a:hover{
    background-color: var(--main-accent);
    color: white;
    transition: 0.1s ease-out;
}
a:hover img{
    transition: 0.1s ease-out;
    filter: invert(100);
}

